In [31]:
import numpy as np
import pandas as pd

In [32]:
df = pd.read_csv('ecommerce_data.csv')

In [33]:
df.head()

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
0,1,0,0.657510,0,3,0
1,1,1,0.568571,0,2,1
2,1,0,0.042246,1,1,0
3,1,1,1.659793,1,1,2
4,0,1,2.014745,1,1,2

In [34]:
df.describe()

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000
mean,0.486000,0.854000,1.055880,0.518000,1.588000,0.74800
std,0.500305,1.046362,0.976711,0.500176,1.121057,0.89336
min,0.000000,0.000000,0.000141,0.000000,0.000000,0.00000
25%,0.000000,0.000000,0.328550,0.000000,1.000000,0.00000
50%,0.000000,1.000000,0.804717,1.000000,2.000000,0.00000
75%,1.000000,1.000000,1.499518,1.000000,3.000000,1.00000
max,1.000000,4.000000,6.368775,1.000000,3.000000,3.00000

In [35]:
df.isnull().any().describe()

count         6
unique        1
top       False
freq          6
dtype: object

In [42]:
def get_data():
    df = pd.read_csv('ecommerce_data.csv')
    data = df.as_matrix()
    X = data[:,:-1]
    Y = data[:,-1]
    
    X[:,1] = (X[:,1] - X[:,1].mean())/X[:,1].std()
    X[:,2] = (X[:,2] - X[:,2].mean())/X[:,2].std()
    N, D = X.shape
    X2 = np.zeros((N,D+3))
    X2[:,0:(D-1)] = X[:,0:(D-1)]
    
    for i in range(N):
        t = int(X[i,D-1])
        X2[i, t+D-1] = 1
    Z = np.zeros((N,4))
    Z[np.arange(N), X[:,D-1].astype(np.int32)] = 1
    return X2, Y

In [43]:
def get_binary_data():
    X,Y = get_data()
    X2 = X[Y<=1]
    Y2 = Y[Y<=1]
    return X2,Y2

In [88]:
X, Y = get_binary_data()
D = X.shape[1]
w = np.random.randn(D)
b=0

C:\Users\Lolly\Anaconda3\envs\carnd-term1\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [89]:
def sigmoid(a):
    return 1/(1+np.exp(-a))
def forward(X,w,b):
    return sigmoid(X.dot(w) + b)

In [90]:
P_Y_given_X = forward(X,w,b)
predictions = np.round(P_Y_given_X)

def classification_rate(Y,P):
    return np.mean(Y==P)

In [93]:
print("Score: " + str(classification_rate(Y,predictions)*100) + "%" )

Score: 80.4020100503%